{:prod true
 :port 8889
 :tess-data "/usr/share/tesseract-ocr/tessdata"
 :app_key "applicationkey"
 :app_secret "applicationsecret"
 :user_token "simon-brooke-ireadit"
 :user_secret "Tartillyan"
 :bot_account "IReadIt"}
